.brand-color {
    color: #29966c !important;
}

.dark-brand {
    color: #162101 !important;
}

.header-button span, .wsmenu > .wsmenu-list > li.header-btn a {
    color: #0a0a0a;
    background-color: #c2ffe7 !important;
    border-color: #c2ffe7 !important;
}

.btn-brand {
    color: #0a0a0a;
    background-color: #c2ffe7;
    border-color: #c2ffe7;
}

.brand-hover:hover {
    color: #0a0a0a;
    background-color: #c2ffe7;
    border-color: #c2ffe7;
}

.breadcrumb-item a:hover {
    color: #c2ffe7;
}

.sbox-3-icon {
    background-color: #c2ffe7 !important;
}

.doctor-1 .item-overlay {
    background: rgba(111, 147, 48, 0.5);
}

.wsmenu >.wsmenu-list > li:hover > a {
    color: #c2ffe7;
}

.bg-brand {
    background-color: #c2ffe7;
}

.nav-pills .nav-link.active, .nav-pills .nav-link.active:hover {
    background-color: #c2ffe7;
    border-color: #c2ffe7;
    color: #0a0a0a;
}

.abox-4-table.blue-table {
    background-color: #c2ffe7;
    border: 1px solid #c2ffe7;
    color: #0a0a0a;
    box-shadow: none;
}

.grid-view {
    overflow-x: auto;
}

#loader {
    width: 380px!important;
    height: 175px!important;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -128px;
    margin-top: -19px;
}

.loader-inner {
    width: 100% !important;
    height: 100% !important;
    background-repeat: no-repeat;
}

.hero-widget {
    padding: 0px 0;
}

#breadcrumb {
    background-image: url("../images/tittle-banner.jpg");
    background-position: center center;
}

#footer-2 {
    background-color: #f1f1f1;
}

.values .card-body {
    background: rgb(255 255 255 / 62%);
}

.member-img .img-fluid {
    width: 250px !important;
    height: 260px !important;
    object-fit: cover !important;
}

@media (max-width: 767px) {
    .wsmobileheader .smllogo {
        margin-top: 0px !important;
    }
}
@media only screen and (max-width: 991px) {
    .wsmobileheader .smllogo {
        display: inline-block;
        margin-top: 0px !important;
    }
}
