.brand-color {
    color: #064887 !important;
}

.dark-brand {
    color: #162101 !important;
}

.header-button span, .wsmenu > .wsmenu-list > li.header-btn a {
    color: #fff;
    background-color: #064887 !important;
    border-color: #064887 !important;
}

.btn-brand {
    color: #fff;
    background-color: #064887;
    border-color: #064887;
}

.brand-hover:hover {
    color: #fff;
    background-color: #064887;
    border-color: #064887;
}

.breadcrumb-item a:hover {
    color: #064887;
}

.sbox-3-icon {
    background-color: #064887 !important;
}

.doctor-1 .item-overlay {
    background: rgba(111, 147, 48, 0.5);
}

.wsmenu >.wsmenu-list > li:hover > a {
    color: #064887;
}

.bg-brand {
    background-color: #064887;
    color: #fff;
}

.nav-pills .nav-link.active, .nav-pills .nav-link.active:hover {
    background-color: #064887;
    border-color: #064887;
    color: #fff;
}

.abox-4-table.blue-table {
    background-color: #064887;
    border: 1px solid #064887;
    color: #fff;
    box-shadow: none;
}

.btn:hover, .btn:focus, .btn.focus {
    color: #ffffff !important;
}

.icofont-envelope, .icofont-phone, .icofont-clock-time {
    color: #FFFFFF !important;
}

#sidebar .table {
    color: #FFFFFF;
}

.grid-view {
    overflow-x: auto;
}

.division {
    padding: 40px 0;
}

#sidebar .sidebar-table {
    margin-top: 23px;
}

.blue-table .table {
    color: #FFFFFF;
}

#loader {
    width: 380px!important;
    height: 175px!important;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -128px;
    margin-top: -19px;
}

.loader-inner {
    width: 100% !important;
    height: 100% !important;
    background-repeat: no-repeat;
}

.hero-widget {
    padding: 0px 0;
}

#breadcrumb {
    background-image: url("../images/tittle-banner.jpg");
    background-position: center center;
}

#footer-2 {
    background-color: #f1f1f1;
}

#footer .footer-top h4 {
    color: #fff !important;
}

.footer-top, .footer-contact {
    color: #fff !important;
}

#footer .footer-top .footer-links ul i {
    color: #e1e1e1 !important;
}

#footer .footer-top .footer-contact p {
    color: #e1e1e1 !important;
}

.footer-newsletter p {
    color: #e1e1e1 !important;
}

#footer .footer-top .footer-links ul a {
    color: #e1e1e1 !important;
}

.values .card-body {
    background: rgb(255 255 255 / 62%);
}

.member-img .img-fluid {
    width: 250px !important;
    height: 260px !important;
    object-fit: cover !important;
}

.services .icon {
    background: #064887 !important;
}

.services .icon img {
    width: 60%;
}

.services .icon-box {
    height: 220px !important;
}

.doctor-item {
    width: 250px;
}

@media (max-width: 767px) {
    .wsmobileheader .smllogo {
        margin-top: 0px !important;
    }
}
@media only screen and (max-width: 991px) {
    .wsmobileheader .smllogo {
        display: inline-block;
        margin-top: 0px !important;
    }
}
